.single__product {
  /* display: flex; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  justify-content: space-evenly;
  /* background-color: red; */
}

.single__image {
  width: 100%;
  max-width: 600px;
  height: 1/1;
  border-radius: 15px;
}

.single__foto {
  margin: 5px;
  border-radius: 5px;
}

.single__info {
  margin-top: 20px;
  max-width: 600px;
}

.single__info h3 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}

.single__info strong {
  font-size: 20px;
}

.single__info p {
  margin-top: 20px;
  color: #949292;
}
